.admin-sidebar {
  width: 250px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1040;
}

.admin-sidebar.hide {
  transform: translateX(-100%);
}

.admin-sidebar.show {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .admin-sidebar {
    transform: translateX(0) !important;
  }
}

.admin-main-content {
  margin-left: 250px;
  width: 100%;
}

@media (max-width: 767px) {
  .admin-main-content {
    margin-left: 0;
  }
}
